<!DOCTYPE html>
<html ng-app="app">
<head>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>

</head>
<body ng-cloak>

  <div ui-view></div>

<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/app/factory/factory.js"></script>
<script type="text/javascript" src="js/app/directive/directive.js"></script>
<script type="text/javascript" src="js/app/controllers/news_controller.js"></script>



</body>
</html>
