<!DOCTYPE html>
<html ng-app="app">
<head>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-cloak>

  <div ui-view></div>

<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/factory/factory.js"></script>
<script type="text/javascript" src="/app/directive/directive.js"></script>
<script type="text/javascript" src="/app/controllers/news/index_controller.js"></script>
<script type="text/javascript" src="/app/controllers/news/new_controller.js"></script>
<script type="text/javascript" src="/app/controllers/news/show_controller.js"></script>



</body>
</html>
